@use './variables' as *;
@use './mixins' as *;

body {
  font-family: $font-family-primary;
  background-color: $color-white;
  font-weight: 400;
  font-size: 14px;
  color: $color-grey;
}
.container {
  width: 375px;
  padding: 0 16px;
  margin: 0 auto;

  @include media(tablet) {
    width: 768px;
  }

  @include media(max-tablet) {
    width: 1024px;
  }

  @include media(desktop) {
    width: 1440px;
  }
}

@include media(mobile) {
}

@include media(tablet) {
}
@include media(max-tablet) {
}
@include media(desktop) {
}
