<section class="about-section">
  <div class="about-img-wrapper">
    <div class="container about-img-container">
      <picture>
        <source
          srcset="../img/about/about-768-1440.webp"
          media="(min-width: 1024px)" />
        <img
          src="../img/about/about-375-768.webp"
          alt="Картинка товару"
          class="about-bagraund-img" />
      </picture>
    </div>
  </div>

  <div class="container about-container">
    <div class="about-container-content">
      <h1 class="about-title ab-1">
        LPG, Cryogenic & LNG продукти для глобального ринку
      </h1>
      <div class="about-text text-about ab-2">
        REGO з гордістю пропонує найсучасніше обладнання для LPG/NH³/кріогенної
        та LNG промисловості. З огляду на те, що світ все більше зосереджується
        на альтернативних видах палива, REGO з гордістю пропонує найсучасніше
        обладнання для транспортних засобів, що працюють на зрідженому
        природному газі. Ми є постачальником арматури номер один для ринку СПГ,
        що значно зростає. REGO надає своїм клієнтам продукцію найвищої якості
        через нашу міжнародну дистриб’юторську мережу та регіональні офіси в
        Латинській Америці, Європі та Азії. Маючи чотири найсучасніші виробничі
        потужності в Північній Кароліні, ми постійно розширюємо асортимент
        продукції, щоб задовольнити потреби нових ринків LPG/NH³/Кріогенний і
        LNG.
      </div>
      <div class="about-inner ab-3">
        <h2 class="about-subtitle">Зроблено в США</h2>
        <div class="about-text">
          Продукція REGO ® виробляється на чотирьох підприємствах у штаті
          Північна Кароліна, США. Лише матеріали найвищої якості
          використовуються в усіх продуктах REGO ® . В процесі обробки
          використовуються робототехніка, обробка з ЧПУ та інтегроване
          комп’ютерне виробництво для досягнення строгих стандартів.
        </div>
      </div>
      <div class="about-inner ab-4">
        <h2 class="about-subtitle">Перевірено на найвищу якість</h2>
        <div class="about-wrapper-img-text">
          <img
            class="about-img-10"
            src="../img/about/about-10.webp"
            alt="REGO продукт" />
          <div class="about-text">
            Усі продукти проходять 100% тестування для надійної роботи. Об’єкти
            можуть похвалитися власною випробувальною лабораторією з робочим
            резервуарним парком і лініями високого тиску, що дозволяє інженерам
            завершувати проекти та перевіряти продуктивність на місці.
            Складальні потужності та випробувальні лабораторії сертифіковані UL®
            відповідно до ISO9001 .
          </div>
        </div>
      </div>
      <div class="about-inner ab-5">
        <h2 class="about-subtitle">Глобальна дистриб'юторська мережа</h2>
        <div class="about-text">
          Клапани та регулятори REGO ® продаються через мережу авторизованих
          дистриб’юторів по всьому світу. Крім того, RegO® управляє
          дистриб’юторськими центрами в Німеччині, Китаї та Мексиці, які
          постачають продукцію та підтримують наші глобальні ринки.
        </div>
      </div>
      <div class="about-accost-wrapper ab-6">
        <a class="about-accost-btn" href="#">Зверніться до REGO Україна</a>
      </div>
    </div>
  </div>
</section>
