<section class="certificates-section">
  <div class="container certificates-container">
    <h1 class="certificates-title">Сертифікати на LPG-продукти</h1>
    <!-- Меню категорій -->
    <nav class="certificates-sidebar">
      <ul class="certificates-category-list">
        <li class="certificates-category-item active">Сертифікати ISO 9001</li>
        <li class="certificates-category-item">
          LPG PED Сертифікати Модуль D / D1
        </li>
        <li class="certificates-category-item">
          Модуль B сертифікатів LPG PED
        </li>
        <li class="certificates-category-item">LPG TPED - Сертифікати</li>
        <li class="certificates-category-item">Сертифікати України</li>
      </ul>
    </nav>

    <!-- Основний контент -->
    <div class="certificates-content">
      <h2 class="certificates-content-title">
        Сертифікати ISO. REGO GmbH Європа
      </h2>
      <ul class="certificates-content-list">
        <li class="certificates-content-item">
          <img class="certificates-content-img" src="pdf-icon.png" alt="PDF" />
          <a class="certificates-content-link" href="#"
            >ISO9001-Certificate REGO Europe de.pdf</a
          >
        </li>
        <li class="certificates-item">
          <img class="certificates-content-icon" src="pdf-icon.png" alt="PDF" />
          <a class="certificates-content-link" href="#"
            >ISO9001-Certificate REGO Europe de.pdf</a
          >
        </li>
        <li class="certificates-content-item">
          <img class="certificates-icon" src="pdf-icon.png" alt="PDF" />
          <a class="certificates-link" href="#"
            >ISO9001-Certificate REGO Europe de.pdf</a
          >
        </li>
        <li class="certificates-content-item">
          <img class="certificates-icon" src="pdf-icon.png" alt="PDF" />
          <a class="certificates-link" href="#"
            >ISO9001-Certificate REGO Europe de.pdf</a
          >
        </li>
      </ul>
      <hr />
      <h2 class="certificates-subtitle">Сертифікат ISO. REGO США</h2>
      <ul class="certificates-list">
        <li class="certificates-item">
          <img class="certificates-icon" src="pdf-icon.png" alt="PDF" />
          <a class="certificates-link" href="#"
            >ISO9001-Certificate REGO Europe de.pdf</a
          >
        </li>
      </ul>
    </div>
    <!-- Служба підтримки -->
    <div class="support-service-block">
      <div class="support-service-title-wrapper">
        <svg class="support-service-svg">
          <use href="/svg/sprite.svg#service"></use>
        </svg>
        <h2 class="support-service-title">Служба підтримки</h2>
      </div>
      <div class="support-service-inner">
        <h3 class="support-service-subtitle">
          ТОВ «УКРАЇНСЬКІ ПАЛИВНІ СИСТЕМИ»
        </h3>
        <h3 class="support-service-subtitle support-service-one">
          LLC “UKRAINIAN FUELING SYSTEM”
        </h3>
        <address class="support-service-address">
          <p class="support-service-address-text">
            <a
              class="support-service-link"
              href="https://www.google.com/maps/search/?api=1&query=01042,+Україна,+місто+Київ,+вулиця+Саперне+Поле,+будинок+9а,+офіс+8"
              target="_blank"
              >01042, Україна, місто Київ, вулиця Саперне Поле, будинок, 9а,
              офіс, 8</a
            >
          </p>
          <p class="support-service-address-text">
            Тел:
            <a class="support-service-link" href="tel:+380979041742"
              >+380 (97) 904-17-42</a
            >
          </p>
          <p class="support-service-address-text">
            Електронна пошта:
            <a class="support-service-link" href="mailto:dddddd@gmail.com"
              >dddddd@gmail.com</a
            >
          </p>
        </address>
      </div>
    </div>
    <a href="#" class="certificate-support-button">
      Документація та інструкція з експлуатації
    </a>
  </div>
</section>
