<section class="certificates-section">
  <div class="certificates-section-img">
    <div class="certificates-container-img">
      <img
        src="/img/certificates/certificates-img.jpg"
        alt="Картинка Сертифікатів"
        class="certificates-hero-img" />
    </div>
  </div>

  <div class="certificates-section-content">
    <div class="certificates-container-content">
      <h1 class="certificates-title">Сертифікати на продукцію</h1>
      <h2 class="certificates-subtitle">Промислова надійність</h2>
      <ul class="certificates-list-btn">
        <li>
          <a class="certificates-link-btn" href="/certificates-lpg.html"
            >LPG сертифікати</a
          >
        </li>
        <li>
          <a class="certificates-link-btn" href="/certificates-cryogenic.html">
            Кріогенні / LNG сертифікати</a
          >
        </li>
        <li>
          <a class="certificates-link-btn" href="/certificates-spg.html">
            LNG ECE R110 сертифікати</a
          >
        </li>
        <li>
          <a class="certificates-link-btn" href="/certificates-hydrogen.html"
            >Водневі сертифікати</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
