<section class="certificates-section">
  <div class="container certificates-container">
    <h1 class="certificates-title">Сертифікати на LPG-продукти</h1>
    <!-- Меню категорій -->

    <nav class="certificates-sidebar">
      <ul class="certificates-category-list">
        <li class="active">Сертифікати ISO 9001</li>
        <li>LPG PED Сертифікати Модуль D / D1</li>
        <li>Модуль B сертифікатів LPG PED</li>
        <li>LPG TPED - Сертифікати</li>
        <li>Сертифікати України</li>
      </ul>
    </nav>

    <!-- Основний контент -->
    <div class="certificates-content">
      <h2 class="certificates-content-title">
        Сертифікати ISO. REGO GmbH Європа
      </h2>
      <ul class="certificate-list">
        <li class="certificate-item">
          <img src="pdf-icon.png" alt="PDF" />
          <a href="#">ISO9001-Certificate REGO Europe de.pdf</a>
        </li>
        <li class="certificate-item">
          <img src="pdf-icon.png" alt="PDF" />
          <a href="#">ISO9001-Certificate REGO Europe de.pdf</a>
        </li>
        <li class="certificate-item">
          <img src="pdf-icon.png" alt="PDF" />
          <a href="#">ISO9001-Certificate REGO Europe de.pdf</a>
        </li>
        <li class="certificate-item">
          <img src="pdf-icon.png" alt="PDF" />
          <a href="#">ISO9001-Certificate REGO Europe de.pdf</a>
        </li>
      </ul>
      <hr />
      <h2 class="certificate-subtitle">Сертифікат ISO. REGO США</h2>
      <ul class="certificate-list">
        <li class="certificate-item">
          <img src="pdf-icon.png" alt="PDF" />
          <a href="#">ISO9001-Certificate REGO Europe de.pdf</a>
        </li>
      </ul>
    </div>

    <!-- Служба підтримки -->
    <aside class="certificate-support">
      <div class="certificate-support-title">
        <img src="support-icon.png" alt="Support" />
        <span>Служба підтримки</span>
      </div>
      <div class="certificate-support-info">
        <strong>ТОВ «УКРАЇНСЬКІ ПАЛИВНІ СИСТЕМИ»</strong>
        <span>LLC “UKRAINIAN FUELING SYSTEM”</span>
        <span
          >01042, Україна, місто Київ, вулиця Саперне Поле, будинок, 9а, офіс,
          8</span
        >
        <strong>Тел:</strong>
        <a href="tel:+380979041742">+380 (97) 904-17-42</a>
        <strong>Email:</strong>
        <a href="mailto:dddddd@gmail.com">dddddd@gmail.com</a>
      </div>
      <a href="#" class="certificate-support-button">
        Документація та інструкція з експлуатації
      </a>
    </aside>
  </div>
</section>
