<section class="certificates-card-section">
  <div class="container certificates-card-container">
    <h1 class="certificates-card-title">Сертифікати на LPG i NH3-продукти</h1>

    <div class="certificates-content-wrapper">
      <div class="card-wrapper-certificates">
        <!------------------ Меню категорій --------------------->
        <nav>
          <ul class="sidebar-category-list">
            <li class="sidebar-category-item category-active">
              Сертифікати ISO 9001
            </li>
            <li class="sidebar-category-item">
              LPG PED Сертифікати Модуль D / D1
            </li>
            <li class="sidebar-category-item">Модуль B сертифікатів LPG PED</li>
            <li class="sidebar-category-item">LPG TPED - Сертифікати</li>
            <li class="sidebar-category-item">Сертифікати України</li>
          </ul>
        </nav>

        <!------------------- Основний контент №1 ------------------->
        <div class="certificates-card-content certificates-active">
          <h2 class="certificates-card-content-title">
            Сертифікати ISO. REGO GmbH Європа
          </h2>

          <!-- Список перший -->
          <ul class="content-certificate-list">
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
          </ul>

          <hr class="certificates-card-line" />

          <h2
            class="certificates-card-content-title certificates-card-content-subtitle">
            Сертифікат ISO. REGO США
          </h2>

          <!-- Список другий  -->
          <ul class="content-certificate-list content-certificate-second-list">
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de2.pdf</a
              >
            </li>
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de2.pdf</a
              >
            </li>
          </ul>
        </div>

        <!------------------- Основний контент №2 ------------------->
        <div class="certificates-card-content">
          <h2 class="certificates-card-content-title">
            Сертифікати ISO. REGO GmbH Європа
          </h2>

          <!-- Список перший -->
          <ul class="content-certificate-list">
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de2.pdf</a
              >
            </li>
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de2.pdf</a
              >
            </li>
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
          </ul>

          <hr class="certificates-card-line" />

          <h2
            class="certificates-card-content-title certificates-card-content-subtitle">
            Сертифікат ISO. REGO США
          </h2>

          <!-- Список другий  -->
          <ul class="content-certificate-list content-certificate-second-list">
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de2.pdf</a
              >
            </li>
          </ul>
        </div>

        <!------------------- Основний контент №3 ------------------->
        <div class="certificates-card-content">
          <h2 class="certificates-card-content-title">
            Сертифікати ISO. REGO GmbH Європа
          </h2>

          <!-- Список перший -->
          <ul class="content-certificate-list">
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de3.pdf</a
              >
            </li>
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de3.pdf</a
              >
            </li>
          </ul>

          <hr class="certificates-card-line" />

          <h2
            class="certificates-card-content-title certificates-card-content-subtitle">
            Сертифікат ISO. REGO США
          </h2>

          <!-- Список другий  -->
          <ul class="content-certificate-list content-certificate-second-list">
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de3.pdf</a
              >
            </li>
          </ul>
        </div>

        <!------------------- Основний контент №4 ------------------->
        <div class="certificates-card-content">
          <h2 class="certificates-card-content-title">
            Сертифікати ISO. REGO GmbH Європа
          </h2>

          <!-- Список перший -->
          <ul class="content-certificate-list">
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de4.pdf</a
              >
            </li>
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
          </ul>

          <hr class="certificates-card-line" />

          <h2
            class="certificates-card-content-title certificates-card-content-subtitle">
            Сертифікат ISO. REGO США
          </h2>

          <!-- Список другий  -->
          <ul class="content-certificate-list content-certificate-second-list">
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
          </ul>
        </div>

        <!------------------- Основний контент №5 ------------------->
        <div class="certificates-card-content">
          <h2 class="certificates-card-content-title">
            Сертифікати ISO. REGO GmbH Європа
          </h2>

          <!-- Список перший -->
          <ul class="content-certificate-list">
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
          </ul>

          <hr class="certificates-card-line" />

          <h2
            class="certificates-card-content-title certificates-card-content-subtitle">
            Сертифікат ISO. REGO США
          </h2>

          <!-- Список другий  -->
          <ul class="content-certificate-list content-certificate-second-list">
            <li class="content-certificate-item">
              <img
                class="content-certificate-img"
                src="/img/pdf-img.webp"
                alt="PDF" />
              <a class="content-certificate-link" href="#"
                >ISO9001-Certificate_REGO_Europe__de.pdf</a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-------------------- Служба підтримки ---------------------->
      <div class="certificates-service-block">
        <div class="certificates-service-title-wrapper">
          <svg class="certificates-service-svg">
            <use href="/svg/sprite.svg#service"></use>
          </svg>
          <h2 class="certificates-service-title">Служба підтримки</h2>
        </div>
        <div class="certificates-service-inner">
          <h3 class="certificates-service-subtitle">
            ТОВ «УКРАЇНСЬКІ ПАЛИВНІ СИСТЕМИ»
          </h3>
          <h3 class="certificates-service-subtitle support-service-one">
            LLC “UKRAINIAN FUELING SYSTEM”
          </h3>
          <address class="certificates-service-address">
            <p class="certificates-service-address-text">
              <a
                class="certificates-service-link"
                href="https://www.google.com/maps/search/?api=1&query=01042,+Україна,+місто+Київ,+вулиця+Саперне+Поле,+будинок+9а"
                target="_blank"
                >01042, Україна, місто Київ, вулиця Саперне Поле, будинок, 9а,
                офіс, 8</a
              >
            </p>
            <p class="certificates-service-address-text">
              Тел:
              <a class="certificates-service-link" href="tel:+380979041742"
                >+380 (97) 904-17-42</a
              >
            </p>
            <p class="certificates-service-address-text">
              Електронна пошта:
              <a
                class="certificates-service-link"
                href="mailto:dddddd@gmail.com"
                >dddddd@gmail.com</a
              >
            </p>
          </address>
        </div>
        <!------------------- Кнопка ------------------->
        <a class="certificate-support-button" href="#">
          Документація та інструкція з експлуатації
        </a>
      </div>
    </div>
  </div>
</section>
