<section class="contact-us-section">
  <div class="container contact-us-container">
    <h1 class="contact-us-title">Зв’яжіться з нами:</h1>
    <hr class="border-line" />
    <div class="contact-us-inner">
      <div class="contact-form-wrapper">
        <form id="contactForm" class="contact-form">
          <label class="contact-form-label" for="topic">
            Тема:<span class="required">*</span>
            <input
              class="contact-form-input"
              type="text"
              id="topic"
              name="topic"
              required />
          </label>

          <label class="contact-form-label" for="message">
            Повідомлення:<span class="required">*</span>
            <textarea
              class="contact-form-textarea"
              id="message"
              name="message"
              required></textarea>
          </label>

          <label class="contact-form-label" for="company">
            ПІП / Назва компанії:<span class="required">*</span>
            <input
              class="contact-form-input"
              type="text"
              id="company"
              name="company"
              required />
          </label>

          <label class="contact-form-label" for="email">
            Адреса електронної пошти:<span class="required">*</span>
            <input
              class="contact-form-input"
              type="email"
              id="email"
              name="email"
              required />
          </label>

          <label class="contact-form-label" for="phone">
            Телефон:<span class="required">*</span>
            <input
              class="contact-form-input"
              type="tel"
              id="phone"
              name="phone"
              required
              pattern="\+?[0-9\s\-\(\)]{7,15}"
              title="Введіть коректний номер
            телефону" />
          </label>

          <div class="checkbox-container">
            <input
              class="checkbox-input"
              type="checkbox"
              id="consent"
              name="consent" />
            <label class="checkbox-label" for="consent">
              Я підтверджую свою згоду та ознайомлення, я погоджуюся що надані
              мною дані збиратимуться та зберігатимуться в електронному вигляді.
              Мої дані використовуються виключно для обробки та відповіді на мій
              запит. Надсилаючи форму запиту, я погоджуюся на обробку.
            </label>
          </div>

          <button class="submit-btn" id="submitBtn" type="submit" disabled>
            Направити звернення
          </button>
        </form>
      </div>

      <div class="support-service-block">
        <div class="support-service-title-wrapper">
          <svg class="support-service-svg">
            <use href="/svg/sprite.svg#service"></use>
          </svg>
          <h2 class="support-service-title">Служба підтримки</h2>
        </div>
        <div class="support-service-inner">
          <h3 class="support-service-subtitle">
            ТОВ «УКРАЇНСЬКІ ПАЛИВНІ СИСТЕМИ»
          </h3>
          <h3 class="support-service-subtitle support-service-one">
            LLC “UKRAINIAN FUELING SYSTEM”
          </h3>
          <address class="support-service-address">
            <p class="support-service-address-text">
              <a
                class="support-service-link"
                href="https://www.google.com/maps/search/?api=1&query=01042,+Україна,+місто+Київ,+вулиця+Саперне+Поле,+будинок+9а,+офіс+8"
                target="_blank"
                >01042, Україна, місто Київ, вулиця Саперне Поле, будинок, 9а,
                офіс, 8</a
              >
            </p>
            <p class="support-service-address-text">
              Тел:
              <a class="support-service-link" href="tel:+380979041742"
                >+380 (97) 904-17-42</a
              >
            </p>
            <p class="support-service-address-text">
              Електронна пошта:
              <a class="support-service-link" href="mailto:dddddd@gmail.com"
                >dddddd@gmail.com</a
              >
            </p>
          </address>
        </div>
      </div>
    </div>
  </div>
</section>
