<section class="documentation-section">
  <div class="documentation-section-img">
    <div class="documentation-container-img">
      <img
        src="/img/documentation/documentation.webp"
        alt="Картинка Документації"
        class="documentation-hero-img" />
    </div>
  </div>

  <div class="documentation-section-content">
    <div class="documentation-container-content">
      <h1 class="documentation-title">Документація на Продукцію</h1>
      <h2 class="documentation-subtitle">
        Каталоги, сервісні книжки та інструкції
      </h2>
      <ul class="documentation-list-btn">
        <li>
          <a class="documentation-link-btn" href="#">LPG документація</a>
        </li>
        <li>
          <a class="documentation-link-btn" href="#">СПГ Документація</a>
        </li>
        <li>
          <a class="documentation-link-btn" href="#"> Кріогенна документація</a>
        </li>
        <li>
          <a class="documentation-link-btn" href="#">Воднева документація</a>
        </li>
      </ul>
    </div>
  </div>
</section>
