<footer class="footer">
  <div class="container footer-container">
    <div class="footer-inner">
      <div class="footer-trademarks">
        <h3 class="footer-trademarks-title">Торгові марки REGO:</h3>

        <div class="trademarks-one">
          <a href="#"><div class="logo-rego"></div></a>
          <a href="#"><div class="logo-goddard"></div></a>
        </div>

        <div class="trademarks-two">
          <a class="logo-superior-box" href="#">
            <div></div>
            <p>Superior Products</p>
          </a>
          <a class="logo-macro-box" href="#">
            <div></div>
            <p>Macro Technologies</p>
          </a>
        </div>
      </div>

      <div class="footer-support">
        <h3 class="footer-support-title">Ми підтримуємо:</h3>
        <a href="#">
          <div class="footer-support-img"></div>
        </a>
      </div>
    </div>

    <div class="footer-legal">
      <a href="#" class="privacy-link">Юридична інформація</a>
      <span class="footer-legal-span">|</span>
      <a href="#" class="policies-link">Політика конфіденційності</a>
    </div>
  </div>
</footer>
