<footer class="footer">
  <div class="container footer-container">
    <div class="footer-inner">
      <div class="footer-trademarks">
        <h3 class="footer-trademarks-title">Торгові марки REGO:</h3>

        <div class="trademarks-one">
          <a href="#">
            <img
              src="/img/footer/logo-rego.webp"
              alt="Логотип компанії REGO"
              class="footer-logo-rego" />
          </a>
          <a href="#">
            <picture>
              <source
                srcset="/img/footer/logo-goddard-768.webp"
                media="(min-width: 768px)" />
              <img
                src="/img/footer/logo-goddard.webp"
                alt="Логотип компанії Goddard"
                class="footer-logo-goddard" />
            </picture>
          </a>
        </div>

        <div class="trademarks-two">
          <a class="logo-superior-box" href="#">
            <img
              src="/img/footer/logo-superior.webp"
              alt="Логотип компанії Superior"
              class="footer-logo-superior" />
            <p>Superior Products</p>
          </a>

          <a class="logo-macro-box" href="#">
            <img
              src="/img/footer/logo-macro.webp"
              alt="Логотип компанії Macro"
              class="footer-logo-macro" />
            <p>Macro Technologies</p>
          </a>
        </div>
      </div>

      <div class="footer-support">
        <h3 class="footer-support-title">Ми підтримуємо:</h3>
        <a href="#">
          <picture>
            <source
              srcset="/img/footer/logo-eicc-2.webp"
              media="(min-width: 1440px)" />
            <img
              src="/img/footer/logo-eicc.webp"
              alt="Логотип компанії Eicc"
              class="footer-logo-eicc" />
          </picture>
        </a>
      </div>
    </div>

    <div class="footer-legal">
      <a href="#" class="privacy-link">Юридична інформація</a>
      <span class="footer-legal-span">|</span>
      <a href="#" class="policies-link">Політика конфіденційності</a>
    </div>
  </div>
</footer>
