<header class="header">
  <div class="header-top-wrapper">
    <div class="header-top-container">
      <a class="header-top-logo-link" href="./index.html">
        <img
          src="/img/header/logo-1440-1024.webp"
          alt="Логотип компанії REGO" />
      </a>
    </div>
  </div>

  <div class="header-bottom-wrapper">
    <div class="container header-bottom-container">
      <a class="header-bottom-logo-link" href="./index.html"
        ><picture>
          <source
            srcset="/img/header/logo-768.webp"
            media="(min-width: 768px)" />
          <img src="/img/header/logo-375.webp" alt="Логотип компанії REGO" />
        </picture>
      </a>

      <div class="header-inner">
        <a href="#" class="header-ua">UA</a>
        <a href="#" class="header-en">EN</a>

        <a class="header-phone" href="tel:+38012345678">
          <svg>
            <use href="/svg/sprite.svg#phone"></use>
          </svg>
        </a>
        <button class="btn-menu-burger" type="button" aria-label="Закрити меню">
          <svg>
            <use href="/svg/sprite.svg#menu"></use>
          </svg>
        </button>
      </div>

      <nav class="nav-menu">
        <ul class="menu-list">
          <li>
            <a href="./products.html" class="menu-link">Продукти</a>
          </li>
          <li>
            <a href="./certificates.html" class="menu-link">Сертифікати</a>
          </li>
          <li>
            <a href="./documentation.html" class="menu-link">Документація</a>
          </li>
          <li>
            <a href="./services.html" class="menu-link">Послуги</a>
          </li>
          <li>
            <a href="./about.html" class="menu-link">Про нас</a>
          </li>
          <li>
            <a href="#Contact" class="menu-link">Зв’язатися з нами</a>
          </li>
        </ul>
        <div class="header-language-wrapper">
          <a class="header-language-ua">UA</a>
          <span class="language-span">|</span>
          <a class="language-en">EN</a>
        </div>
      </nav>

      <nav class="burger-menu" aria-hidden="true">
        <button
          class="burger-menu-close"
          type="button"
          aria-label="Закрити меню">
          <svg>
            <use href="/svg/sprite.svg#close"></use>
          </svg>
        </button>
        <ul class="burger-menu-list">
          <li>
            <a href="/products.html" class="burger-menu-link">Продукти</a>
          </li>
          <li>
            <a href="/certificates.html" class="burger-menu-link"
              >Сертифікати</a
            >
          </li>
          <li>
            <a href="/documentation.html" class="burger-menu-link"
              >Документація</a
            >
          </li>
          <li>
            <a href="/services.html" class="burger-menu-link">Послуги</a>
          </li>
          <li>
            <a href="/about.html" class="burger-menu-link">Про нас</a>
          </li>
          <li>
            <a href="#" class="burger-menu-link">Зв’язатися з нами</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
