<section class="content-index">
  <div class="container parent-container">
    <div class="opw-container child-1">
      <div class="opw-inner">
        <p class="opw-inner-title">
          REGO є компанією OPW Clean Energy Solutions
        </p>
        <picture>
          <source
            srcset="/img/opw/logo-opw-1440.webp"
            media="(min-width: 1440px)" />
          <img
            src="/img/opw/logo-opw-375-1024.webp"
            alt="LPG i NH3"
            class="opw-inner-img" />
        </picture>
      </div>
    </div>

    <div class="mission-container child-2">
      <h2 class="mission-title">Місія REGO Europ</h2>
      <p class="mission-text">
        REGO Europ - це мережа дистриб'юторських центрів Rego, розташованих у
        багатьох країнах Європи та на пострадянському просторі. Rego Europ
        відповідає за продаж і підтримку продуктів Rego® по всій Європі,
        включаючи Україну та використовує розгалужену мережу офіційних
        авторизованих дистриб’юторів для задоволення потреб своїх клієнтів.
      </p>

      <h3 class="mission-certifficate-title">REGO GmbH має сертифікат</h3>
      <div class="mission-certifficate-wrap">
        <picture>
          <source
            srcset="/img/mission/mission-1440.webp"
            media="(min-width: 1440px)" />
          <img
            src="/img/mission/mission-375-1024.webp"
            alt="Відео картинка 1"
            class="video-img" />
        </picture>
        <p class="mission-certifficate-text">
          REGO GmbH сертифікована TÜV Germany згідно з ISO 9001. Перегляньте
          сертифікати німецькою, англійською, російською чи арабською мовами.
        </p>
      </div>
      <a class="certifficate-link" href="#"
        >Усі сертифікати на продукцію REGO</a
      >
    </div>

    <div class="video-conteiner child-3">
      <div class="video-inner">
        <iframe
          id="video-player"
          class="video-plaer"
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/h5Evf6DiLtI"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video-selection-wrapper">
        <div class="video-selection-box">
          <a href="#" class="video-link" data-video-id="XFCVXLo6F_c">
            <img
              src="/img/video/video-1.jpg"
              alt="Відео картинка 1"
              class="video-img" />
          </a>
        </div>
        <div class="video-selection-box">
          <a href="#" class="video-link" data-video-id="Uv1qK3wXWY8">
            <img
              src="/img/video/video-2.jpg"
              alt="Відео картинка 2"
              class="video-img" />
          </a>
        </div>
        <div class="video-selection-box">
          <a href="#" class="video-link" data-video-id="QNk71Mo36Bo">
            <img
              src="/img/video/video-3.jpg"
              alt="Відео картинка 3"
              class="video-img" />
          </a>
        </div>
        <div class="video-selection-box">
          <a href="#" class="video-link" data-video-id="szlBoTrrVTs">
            <img
              src="/img/video/video-4.jpg"
              alt="Відео картинка 4"
              class="video-img" />
          </a>
        </div>
      </div>
    </div>
    <div class="news child-4">
      <h2 class="news-title">rego новини</h2>
      <ul class="news-list">
        <li class="news-item">
          <a class="news-link" href="#">
            <img
              src="/img/news/news1.jpg"
              alt="Новини картинка"
              class="news-img" />
            <div class="news-box">
              <p class="news-box-tite">
                Розробка нового продукту - збалансований регулятор тиску газу
              </p>
              <p class="news-box-text">
                Призначений для зниження тиску зрідженого та природного газу
              </p>
            </div>
          </a>
        </li>
        <li class="news-item">
          <a class="news-link" href="#">
            <img
              src="/img/news/news2.jpg"
              alt="Новини картинка"
              class="news-img" />
            <div class="news-box">
              <p class="news-box-tite">
                2023 Інформаційний каталог рекомендованих продуктів уже
                доступний!
              </p>
              <p class="news-box-text">
                Нова 16-сторінкова брошура 2023 року про рекомендовані продукти.
              </p>
            </div>
          </a>
        </li>
        <li class="news-item">
          <a class="news-link" href="#">
            <img
              src="/img/news/news3.jpg"
              alt="Новини картинка"
              class="news-img" />
            <div class="news-box">
              <p class="news-box-tite">
                Рекомендований інформаційний каталог кріогенних продуктів на
                2023 рік вже доступний!
              </p>
              <p class="news-box-text">
                Нова 12-сторінкова брошура 2023 року про рекомендовані кріогенні
                продукти.
              </p>
            </div>
          </a>
        </li>
        <li class="news-item">
          <a class="news-link" href="#">
            <img
              src="/img/news/news4.jpg"
              alt="Новини картинка"
              class="news-img" />
            <div class="news-box">
              <p class="news-box-tite">Насадка для заправки СПГ CryoMac® 4</p>
              <p class="news-box-text">
                Максимальна безпека для технології СПГ.
              </p>
            </div>
          </a>
        </li>
      </ul>
      <div class="all-news-container">
        <a class="all-news-link" href="#">Усі REGO НОВИНИ</a>
      </div>
      <div class="policy-rules-container">
        <a class="policy-link" href="#">Політика конфіденційності OPW</a>
        <a class="policy-link" href="#">Правила Сайту</a>
      </div>
    </div>
  </div>
</section>
