<section class="product-card-section">
  <div class="product-card-section-inner">
    <div class="product-card-container-img">
      <div class="product-card-inner-img">
        <img
          src="/img/product-card/spg.webp"
          alt="Картинка товару"
          class="product-card-img" />
      </div>
    </div>

    <div class="product-card-container-content">
      <div class="product-card-inner-content">
        <h1 class="product-card-title">СПГ</h1>
        <h2 class="product-card-subtitle">Паливні компоненти</h2>
        <div class="product-card-btn-box">
          <a class="product-card-btn" href="#">СПГ документація</a>
          <a class="product-card-btn" href="#">Отримати консультацію</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-product-card-list">
    <ul class="product-card-list">
      <li class="product-card-item">
        <a href="#" class="product-card-link">
          <img
            src="/img/product-card/proba-card.png"
            alt="Картинка товару"
            class="product-card-imgages" />
          <div class="product-card-text-wrap">
            <p>Станція контролю тиску - подача газоподібного кисню</p>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="pagination-container">
      <button id="prevPage" class="pagination-btn" disabled>
        <svg>
          <use href="/svg/sprite.svg#arrow-prev"></use>
        </svg>
      </button>
      <div id="paginationNumbers" class="pagination-numbers">
        <button class="pagination-number pagination-number-active">1</button>
        <button class="pagination-number">2</button>
        <button class="pagination-number">3</button>
        <span class="pagination-dots">...</span>
        <button class="pagination-number-totall">8</button>
      </div>
      <button id="nextPage" class="pagination-btn">
        <svg>
          <use href="/svg/sprite.svg#arrow-next"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
