<section class="product-card-section">
  <div class="container product-card-container">
    <div class="product-card-wrapper">
      <img
        src="/img/product-card/produkt-card-img.webp"
        alt="Картинка продукту"
        class="product-card-images" />
      <div class="product-card-wrapper-inner">
        <h1 class="product-card-title">Реле CVI (Інертний)</h1>

        <p class="product-card-description">
          1/2" CVI ручний, малий допуск, клапан без вакуумної сорочки з пробкою
          для швидкого відкриття потоку та планом 10 кінцевих з'єднань труби
        </p>

        <h2 class="product-card-subtitle">Галузі застосування</h2>
        <ul class="product-card-tags-list">
          <li class="product-card-tags-item">
            <a class="tag-item-link" href="#">Лабораторія</a>
          </li>
          <li class="product-card-tags-item">
            <a class="tag-item-link" href="#">Медичний</a>
          </li>
          <li class="product-card-tags-item">
            <a class="tag-item-link" href="#">Їжа та напої</a>
          </li>
          <li class="product-card-tags-item">
            <a class="tag-item-link" href="#"
              >Хімічна та нафтохімічна обробка</a
            >
          </li>
          <li class="product-card-tags-item">
            <a class="tag-item-link" href="#">Виробництво електроніки</a>
          </li>
          <li class="product-card-tags-item">
            <a class="tag-item-link" href="#">Промислове виробництво</a>
          </li>
          <li class="product-card-tags-item">
            <a class="tag-item-link" href="#">Спеціальні гази</a>
          </li>
          <li class="product-card-tags-item">
            <a class="tag-item-link" href="#"
              >Космос/Аерокосмічна сфера/оборона</a
            >
          </li>
          <li class="product-card-tags-item">
            <a class="tag-item-link" href="#">Металургія</a>
          </li>
        </ul>

        <h2 class="product-card-subtitle">Супутні товари</h2>
        <ul class="product-card-tags-list">
          <li class="product-card-tags-item">
            <a class="tag-item-link" href="#">Резервуари ISO (IG, LNG)</a>
          </li>
          <li class="product-card-tags-item">
            <a class="tag-item-link" href="#">Системи</a>
          </li>
          <li class="product-card-tags-item">
            <a class="tag-item-link" href="#">Доставки рідини (IG)</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="product-card-search-wrapper">
      <div class="search-wrapper-svg">
        <svg class="search-svg">
          <use href="/svg/sprite.svg#search"></use>
        </svg>
      </div>
      <input type="text" class="product-card-search-input" placeholder="" />
      <button class="product-card-search-button">Пошук</button>
    </div>

    <div class="product-card-filter-wrapper">
      <button class="product-card-filter-button">ФІЛЬТРИ</button>
      <div class="filter-menu-list">
        <div class="filter-menu-item">
          <div class="filter-menu-title-wrapper">
            <p class="filter-menu-title">Розмір клапану</p>
            <svg class="filter-menu-svg">
              <use href="/svg/sprite.svg#arrow-next"></use>
            </svg>
          </div>
          <ul class="filter-options-list">
            <li class="filter-options-item">
              <label class="filter-options-label"
                ><input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                1/2" CVI ручний</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                40/60 труба</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                2 труба</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                1/2 труба</label
              >
            </li>
          </ul>
        </div>
        <div class="filter-menu-item">
          <div class="filter-menu-title-wrapper">
            <p class="filter-menu-title">Розмір клапану</p>
            <svg class="filter-menu-svg">
              <use href="/svg/sprite.svg#arrow-next"></use>
            </svg>
          </div>
          <ul class="filter-options-list">
            <li class="filter-options-item">
              <label class="filter-options-label"
                ><input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                1/2" CVI ручний</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                40/60 труба</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                2 труба</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                1/2 труба</label
              >
            </li>
          </ul>
        </div>
        <div class="filter-menu-item">
          <div class="filter-menu-title-wrapper">
            <p class="filter-menu-title">Розмір клапану</p>
            <svg class="filter-menu-svg">
              <use href="/svg/sprite.svg#arrow-next"></use>
            </svg>
          </div>
          <ul class="filter-options-list">
            <li class="filter-options-item">
              <label class="filter-options-label"
                ><input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                1/2" CVI ручний</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                40/60 труба</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                2 труба</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                1/2 труба</label
              >
            </li>
          </ul>
        </div>
        <div class="filter-menu-item">
          <div class="filter-menu-title-wrapper">
            <p class="filter-menu-title">Розмір клапану</p>
            <svg class="filter-menu-svg">
              <use href="/svg/sprite.svg#arrow-next"></use>
            </svg>
          </div>
          <ul class="filter-options-list">
            <li class="filter-options-item">
              <label class="filter-options-label"
                ><input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                1/2" CVI ручний</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                40/60 труба</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                2 труба</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                1/2 труба</label
              >
            </li>
          </ul>
        </div>
        <div class="filter-menu-item">
          <div class="filter-menu-title-wrapper">
            <p class="filter-menu-title">Розмір клапану</p>
            <svg class="filter-menu-svg">
              <use href="/svg/sprite.svg#arrow-next"></use>
            </svg>
          </div>
          <ul class="filter-options-list">
            <li class="filter-options-item">
              <label class="filter-options-label"
                ><input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                1/2" CVI ручний</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                40/60 труба</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                2 труба</label
              >
            </li>
            <li class="filter-options-item">
              <label class="filter-options-label">
                <input class="filter-options-input" type="checkbox" />
                <span class="filter-options-input-checkbox"></span>
                1/2 труба</label
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="product-card-wrap-tab-serv">
      <div class="product-card-table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Назва товару</th>
              <th>Код товару</th>
              <th>Тиск клапана</th>
              <th>Розмір клапана</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Інертний клапан високого тиску</td>
              <td>81-2542-02987</td>
              <td>1/2" CVI ручний</td>
              <td>40/60 труба</td>
            </tr>
            <tr>
              <td>Інертний клапан високого тиску</td>
              <td>81-2542-02987</td>
              <td>1/2" CVI ручний</td>
              <td>40/60 труба</td>
            </tr>
            <tr>
              <td>Інертний клапан високого тиску</td>
              <td>81-2542-02987</td>
              <td>1/2" CVI ручний</td>
              <td>40/60 труба</td>
            </tr>
            <tr>
              <td>Інертний клапан високого тиску</td>
              <td>81-2542-02987</td>
              <td>1/2" CVI ручний</td>
              <td>40/60 труба</td>
            </tr>
            <tr>
              <td>Інертний клапан високого тиску</td>
              <td>81-2542-02987</td>
              <td>1/2" CVI ручний</td>
              <td>40/60 труба</td>
            </tr>
            <tr>
              <td>Інертний клапан високого тиску</td>
              <td>81-2542-02987</td>
              <td>1/2" CVI ручний</td>
              <td>40/60 труба</td>
            </tr>
            <tr>
              <td>Інертний клапан високого тиску</td>
              <td>81-2542-02987</td>
              <td>1/2" CVI ручний</td>
              <td>40/60 труба</td>
            </tr>
            <tr>
              <td>Інертний клапан високого тиску</td>
              <td>81-2542-02987</td>
              <td>1/2" CVI ручний</td>
              <td>40/60 труба</td>
            </tr>
            <tr>
              <td>Інертний клапан високого тиску</td>
              <td>81-2542-02987</td>
              <td>1/2" CVI ручний</td>
              <td>40/60 труба</td>
            </tr>
            <tr>
              <td>Інертний клапан високого тиску</td>
              <td>81-2542-02987</td>
              <td>1/2" CVI ручний</td>
              <td>40/60 труба</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2 class="product-service-block-title">
        За додатковою інформацією ви можете звернутися до Служби підтримки:
      </h2>

      <div class="product-service-block">
        <div class="product-service-title-wrapper">
          <svg class="product-service-svg">
            <use href="/svg/sprite.svg#service"></use>
          </svg>
          <h2 class="product-service-title">Служба підтримки</h2>
        </div>
        <div class="product-service-inner">
          <h3 class="product-service-subtitle">
            ТОВ «УКРАЇНСЬКІ ПАЛИВНІ СИСТЕМИ»
          </h3>
          <h3 class="product-service-subtitle support-service-one">
            LLC “UKRAINIAN FUELING SYSTEM”
          </h3>
          <address class="product-service-address">
            <p class="product-service-address-text">
              <a
                class="product-service-link"
                href="https://www.google.com/maps/search/?api=1&query=01042,+Україна,+місто+Київ,+вулиця+Саперне+Поле,+будинок+9а,+офіс+8"
                target="_blank"
                >01042, Україна, місто Київ, вулиця Саперне Поле, будинок, 9а,
                офіс, 8</a
              >
            </p>
            <p class="product-service-address-text">
              Тел:
              <a class="product-service-link" href="tel:+380979041742"
                >+380 (97) 904-17-42</a
              >
            </p>
            <p class="product-service-address-text">
              Електронна пошта:
              <a class="product-service-link" href="mailto:dddddd@gmail.com"
                >dddddd@gmail.com</a
              >
            </p>
          </address>
        </div>
      </div>
    </div>
  </div>
</section>
