<section class="products-section">
  <div class="container products-container">
    <ul class="products-list">
      <li class="products-item">
        <a class="products-link" href="./products-hydrogen.html">
          <picture>
            <source
              srcset="../img/products/hydrogen-1440.webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="../img/products/hydrogen-768-1024.webp"
              media="(min-width: 768px)"
            />
            <img
              src="../img/products/hydrogen-375.webp"
              alt="Гідроген"
              class="products-link-img"
            />
          </picture>
          <div class="products-inner">
            <h2 class="products-title">водень</h2>
            <p class="products-text">
              Провідний постачальник водневих продуктів
            </p>
          </div>
        </a>
      </li>
      <li class="products-item">
        <a class="products-link" href="./products-spg.html">
          <picture>
            <source
              srcset="../img/products/spg-1440.webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="../img/products/spg-768-1024.webp"
              media="(min-width: 768px)"
            />
            <img
              src="../img/products/spg-375.webp"
              alt="СПГ"
              class="products-link-img"
            />
          </picture>
          <div class="products-inner">
            <h2 class="products-title">спг</h2>
            <p class="products-text">Паливні компоненти</p>
          </div>
        </a>
      </li>
      <li class="products-item">
        <a class="products-link" href="./products-cryogenic.html">
          <picture>
            <source
              srcset="../img/products/cryogenic-1440.webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="../img/products/cryogenic-768-1024.webp"
              media="(min-width: 768px)"
            />
            <img
              src="../img/products/cryogenic-375.webp"
              alt="Кріогенний"
              class="products-link-img"
            />
          </picture>
          <div class="products-inner">
            <h2 class="products-title">кріогенний</h2>
            <p class="products-text">Для максимально низьких температур</p>
          </div>
        </a>
      </li>
      <li class="products-item">
        <a class="products-link" href="./products-medical.html">
          <picture>
            <source
              srcset="../img/products/medical-1440.webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="../img/products/medical-768-1024.webp"
              media="(min-width: 768px)"
            />
            <img
              src="../img/products/medical-375.webp"
              alt="Медичний"
              class="products-link-img"
            />
          </picture>
          <div class="products-inner">
            <h2 class="products-title">медичний</h2>
            <p class="products-text">Критично важливе медичне застосування</p>
          </div>
        </a>
      </li>
      <li class="products-item">
        <a class="products-link" href="./products-lpg.html">
          <picture>
            <source
              srcset="../img/products/lpg-1440.webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="../img/products/lpg-768-1024.webp"
              media="(min-width: 768px)"
            />
            <img
              src="../img/products/lpg-375.webp"
              alt="LPG i NH3"
              class="products-link-img"
            />
          </picture>
          <div class="products-inner">
            <h2 class="products-title">lpg <span>і</span> nh3</h2>
            <p class="products-text lpg-span">
              Все для пропанової промисловості
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
