<section class="product-card">
  <div class="container product-card-container">
    <h1 class="product-card-title">Реле CVI (Інертний)</h1>

    <p class="product-card-title-description">
      1/2" CVI ручний, малий допуск, клапан без вакуумної сорочки з пробкою для
      швидкого відкриття потоку та планом 10 кінцевих з'єднань труби
    </p>

    <h2 class="product-card-subtitle">Галузі застосування</h2>
    <div class="product-card-tags">
      <span class="tag">Лабораторія</span>
      <span class="tag">Медичний</span>
      <span class="tag">Їжа та напої</span>
      <span class="tag">Хімічна та нафтохімічна обробка</span>
      <span class="tag">Виробництво електроніки</span>
      <span class="tag">Промислове виробництво</span>
      <span class="tag">Спеціальні гази</span>
      <span class="tag">Космос/Аерокосмічна сфера/оборона</span>
      <span class="tag">Металургія</span>
    </div>

    <h2 class="product-card-subtitle">Супутні товари</h2>
    <div class="product-card-tags">
      <span class="tag">Резервуари ISO (IG, LNG)</span>
      <span class="tag">Системи</span>
      <span class="tag">Доставки рідини (IG)</span>
    </div>

    <div class="product-card-search-wrapper">
      <div class="search-icon">🔍</div>
      <input type="text" class="search-input" placeholder="" />
      <button class="search-button">Пошук</button>
    </div>

    <div class="product-card-filter-wrapper">
      <button class="filter-button">ФІЛЬТРИ</button>
      <div class="filter-menu">
        <ul class="filter-list">
          <li class="filter-item">
            Розмір клапану
            <span class="dropdown-arrow">▼</span>
          </li>
          <ul class="checkbox-list">
            <li class="checkbox-item">
              <label><input type="checkbox" /> 1/2" CVI ручний</label>
            </li>
            <li class="checkbox-item">
              <label><input type="checkbox" /> 40/60 труба</label>
            </li>
            <li class="checkbox-item">
              <label><input type="checkbox" /> 2 труба</label>
            </li>
            <li class="checkbox-item">
              <label><input type="checkbox" /> 1/2 труба</label>
            </li>
          </ul>
          <li class="filter-item">Розмір клапану ➝</li>
          <li class="filter-item">Розмір клапану ➝</li>
          <li class="filter-item">Розмір клапану ➝</li>
          <li class="filter-item">Розмір клапану ➝</li>
        </ul>
      </div>
    </div>

    <div class="product-card-table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Назва товару</th>
            <th>Код товару</th>
            <th>Тиск клапана</th>
            <th>Розмір клапана</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Інертний клапан високого тиску</td>
            <td>81-2542-02987</td>
            <td>1/2" CVI ручний</td>
            <td>40/60 труба</td>
          </tr>
          <tr>
            <td>Інертний клапан високого тиску</td>
            <td>81-2542-02987</td>
            <td>1/2" CVI ручний</td>
            <td>40/60 труба</td>
          </tr>
          <tr>
            <td>Інертний клапан високого тиску</td>
            <td>81-2542-02987</td>
            <td>1/2" CVI ручний</td>
            <td>40/60 труба</td>
          </tr>
          <tr>
            <td>Інертний клапан високого тиску</td>
            <td>81-2542-02987</td>
            <td>1/2" CVI ручний</td>
            <td>40/60 труба</td>
          </tr>
          <tr>
            <td>Інертний клапан високого тиску</td>
            <td>81-2542-02987</td>
            <td>1/2" CVI ручний</td>
            <td>40/60 труба</td>
          </tr>
          <tr>
            <td>Інертний клапан високого тиску</td>
            <td>81-2542-02987</td>
            <td>1/2" CVI ручний</td>
            <td>40/60 труба</td>
          </tr>
          <tr>
            <td>Інертний клапан високого тиску</td>
            <td>81-2542-02987</td>
            <td>1/2" CVI ручний</td>
            <td>40/60 труба</td>
          </tr>
          <tr>
            <td>Інертний клапан високого тиску</td>
            <td>81-2542-02987</td>
            <td>1/2" CVI ручний</td>
            <td>40/60 труба</td>
          </tr>
          <tr>
            <td>Інертний клапан високого тиску</td>
            <td>81-2542-02987</td>
            <td>1/2" CVI ручний</td>
            <td>40/60 труба</td>
          </tr>
          <tr>
            <td>Інертний клапан високого тиску</td>
            <td>81-2542-02987</td>
            <td>1/2" CVI ручний</td>
            <td>40/60 труба</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
