<section class="our-services-section">
  <div class="container our-services-container">
    <div class="services-inner-container">
      <div class="services-our-wrapper">
        <h1 class="services-our-title">Наші послуги</h1>
        <ul class="services-our-wrapper-list">
          <li>
            Повне постачання всіх REGO ® LPG/аміаку/LNG та кріогенних продуктів.
          </li>
          <li>
            Постачання різних налаштувань, доступних для клапанів скидання тиску
            REGO ® , а також для Multiports відповідно до специфікацій вашої
            країни, підготовлених нашою власною сертифікованою майстернею TÜV
            ISO 9001.
          </li>
          <li>
            Підтримка документації та сертифікації PED/TPED для європейських
            поставок нашим дистриб’юторам та OEM-виробникам.
          </li>
          <li>Повністю схвалений для російського ринку.</li>
          <li>
            Інтернет Увійдіть у нашу складську систему, щоб побачити
            безпосередню доступність продуктів Rego LPG/Ammonia/LNG і Cryogenic.
          </li>
          <li>Навчання продукту в REGO ® США чи Європі.</li>
        </ul>
      </div>

      <div class="member-wrapper">
        <h2 class="services-our-title">REGO США/Європа є членом:</h2>
        <ul class="member-list">
          <li>
            <a href="#" class="member-link"
              >Національна асоціація пропанового газу.</a
            >
          </li>
          <li>
            <a href="#" class="member-link"
              >Всесвітня асоціація зрідженого газу (WLPGA).</a
            >
          </li>
          <li>
            <a href="#" class="member-link"
              >Асоціація пропанового газу Канади.</a
            >
          </li>
          <li>
            <a href="#" class="member-link"
              >Європейська асоціація пропанового газу.</a
            >
          </li>
          <li>
            <a href="#" class="member-link">Німецька газова асоціація DVFG</a>
          </li>
        </ul>
        <a class="member-btn" href="#">Зверніться до REGO Україна</a>
      </div>
    </div>

    <div class="declarations-wrapper">
      <h2 class="services-our-title declarations-title">
        Декларації вартості REGO Європа:
      </h2>
      <ul class="declarations-list">
        <li class="declarations-item">
          <img src="/img/pdf-img.webp" alt="Картинка пдф файлу" />
          <a href="#">Євро Вартість декларацій- звітів та довідок 2021.</a>
        </li>
        <li class="declarations-item">
          <img src="/img/pdf-img.webp" alt="Картинка пдф файлу" />
          <a href="#">Вартість декларацій та довідок у доларах США 2021.</a>
        </li>
      </ul>
    </div>
  </div>
</section>
