@use './common/index' as *;

.footer {
  background-color: $color-primary;
}
.footer-container {
  @include media(tablet) {
    padding-top: 62px;
  }
  @include media(max-tablet) {
    padding-top: 35px;
  }
  @include media(desktop) {
    padding-top: 45px;
  }
}
.footer-inner {
  @include media(tablet) {
    display: flex;
    align-items: center;
  }
  @include media(max-tablet) {
    display: flex;
    align-items: center;
  }
  @include media(desktop) {
    display: flex;
    align-items: center;
  }
}
.footer-trademarks {
  padding: 17px 0 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid $color-white;
  @include media(tablet) {
    border-bottom: none;
    border-right: 1px solid $color-white;
    width: 50%;
    padding: 20px 0 40px;
  }
  @include media(max-tablet) {
    border-bottom: none;
    border-right: 1px solid $color-white;
    width: 50%;
    padding: 34px 0 20px;
  }
  @include media(desktop) {
    border-bottom: none;
    border-right: 1px solid $color-white;
    width: 50%;
    padding: 34px 0 20px;
  }
}
.footer-trademarks-title,
.footer-support-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: $color-white;
  text-align: center;
  @include media(tablet) {
    font-size: 16px;
    line-height: 1.5;
  }
  @include media(max-tablet) {
    font-size: 18px;
    line-height: 1.2;
  }
  @include media(desktop) {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}
.trademarks-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media(tablet) {
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  @include media(max-tablet) {
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  @include media(desktop) {
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
}
.footer-logo-rego {
  width: 113px;
  height: 31px;
  @include media(desktop) {
    width: 136px;
    height: 37px;
  }
}
.footer-logo-goddard {
  width: 200px;
  height: 52px;
  @include media(tablet) {
    width: 142px;
    height: 38px;
  }
}
.trademarks-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media(tablet) {
    justify-content: space-evenly;
  }
  @include media(max-tablet) {
    justify-content: space-evenly;
    padding-left: 30px;
  }
  @include media(desktop) {
    justify-content: space-evenly;
    padding-left: 79px;
  }
}
.logo-superior-box {
  width: 50%;
  display: flex;
  align-items: center;

  p {
    font-family: $font-family-second;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: $color-white;
    width: 77px;
    height: 29px;
    margin-left: 10px;
  }
  @include media(tablet) {
    width: 40%;
  }
  @include media(max-tablet) {
    width: 40%;
  }
  @include media(desktop) {
    width: 40%;
  }
}
.footer-logo-superior {
  width: 51px;
  height: 51px;
}
.logo-macro-box {
  width: 50%;
  display: flex;
  align-items: center;

  p {
    font-family: $font-family-second;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: $color-white;
    width: 101px;
    height: 29px;
    margin-left: 10px;
  }
  @include media(tablet) {
    width: 40%;
  }
  @include media(max-tablet) {
    width: 40%;
  }
  @include media(desktop) {
    width: 40%;
  }
}
.footer-logo-macro {
  width: 51px;
  height: 51px;
}
.footer-support {
  padding: 40px 0 26px;
  border-bottom: 1px solid $color-white;
  @include media(tablet) {
    border-bottom: none;
    width: 50%;
    padding: 20px 0 54px;
  }
  @include media(max-tablet) {
    border-bottom: none;
    width: 50%;
    padding: 34px 0 52px;
  }
  @include media(desktop) {
    border-bottom: none;
    width: 50%;
    padding: 33px 0 40px;
  }
}
.footer-support-title {
  margin-bottom: 17px;
  @include media(tablet) {
    margin-bottom: 40px;
  }
  @include media(max-tablet) {
    margin-bottom: 28px;
  }
  @include media(desktop) {
    margin-bottom: 34px;
  }
}
.footer-logo-eicc {
  width: 248px;
  height: 66px;
  margin: 0 auto;
  @include media(max-tablet) {
    width: 298px;
    height: 79px;
  }
  @include media(desktop) {
    width: 350px;
    height: 93px;
  }
}
.footer-legal {
  padding: 26px 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  @include media(tablet) {
    padding: 30px 0 40px 29px;
  }
  @include media(max-tablet) {
    padding: 20px 0 40px 33px;
  }
  @include media(desktop) {
    padding: 20px 0 40px 39px;
    gap: 14px;
  }
}
.privacy-link,
.policies-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: $color-white;

  &:hover,
  &:active {
    // color: $color-light-red;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  @include media(tablet) {
    font-size: 14px;
    line-height: 1.14;
  }
  @include media(max-tablet) {
    font-size: 16px;
    line-height: 1.14;
  }
  @include media(desktop) {
    font-size: 18px;
    line-height: 1;
  }
}
.footer-legal-span {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: $color-white;
  @include media(tablet) {
    font-size: 14px;
    line-height: 1.14;
  }
  @include media(max-tablet) {
    font-size: 18px;
    line-height: 1;
  }
  @include media(desktop) {
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
  }
}
