@use './common/index' as *;

.header {
  background-color: $color-primary;
}
.header-top-wrapper {
  display: none;
  width: 100%;
  background-color: $color-white;
  @include media(max-tablet) {
    display: block;
  }
  @include media(desktop) {
    display: block;
  }
}
.header-top-container {
  padding: 27px 30px;
  margin: 0 auto;
  width: 1024px;
  @include media(desktop) {
    width: 1440px;
  }
}
.header-top-logo-link {
  display: block;
  width: 340px;
  height: 62px;
  position: relative;
}
.header-bottom-logo-link {
  position: relative;
  width: 188px;
  height: 51px;
  @include media(tablet) {
    width: 257px;
    height: 70px;
  }
  @include media(max-tablet) {
    display: none;
  }
  @include media(desktop) {
    display: none;
  }

  &:hover,
  &:active {
    &::after {
      width: calc(100% - 6px);
      background-color: $color-white;
    }
  }
}
.header-bottom-logo-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: $color-primary;
  transition: width 650ms ease-in-out;
}
.header-bottom-wrapper {
  width: 100%;
  background-color: $color-primary;
}
.header-bottom-container {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media(tablet) {
    padding: 35px 40px;
  }
  @include media(max-tablet) {
    padding: 0 80px;
    height: 80px;
  }
  @include media(desktop) {
    padding: 0 190px;
    height: 80px;
  }
}
.header-inner {
  display: flex;
  align-items: center;
  gap: 24px;
  @include media(tablet) {
    gap: 44px;
  }
}
.header-ua,
.header-en {
  color: $color-white;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  padding: 4px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 82%;
    height: 3px;
    background-color: $color-white;
    transition: all 300ms ease-in-out;
    @include media(tablet) {
      left: 5px;
      bottom: -1px;
      width: 85%;
      height: 5px;
    }
  }
  @include media(tablet) {
    font-size: 36px;
    line-height: 1;
  }
  @include media(max-tablet) {
    display: none;
  }
  @include media(desktop) {
    display: none;
  }
}
.header-en {
  display: none;
}
.header-phone {
  display: none;
  @include media(tablet) {
    display: block;
    width: 44px;
    height: 44px;

    svg {
      width: 100%;
      height: 100%;
      color: $color-white;
      transition: all 300ms ease;
    }

    &:hover svg,
    &:active svg {
      color: $color-green;
      transform: scale(1.1);
    }
  }
}
.btn-menu-burger {
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;

  svg {
    width: 100%;
    height: 100%;
    color: $color-white;
    transition: all 300ms ease;
  }

  &:hover svg,
  &:active svg {
    transform: scale(1.2);
  }

  @include media(tablet) {
    width: 44px;
    height: 44px;

    svg {
      width: 44px;
      height: 44px;
    }
  }
  @include media(max-tablet) {
    display: none;
  }
  @include media(desktop) {
    display: none;
  }
}
.nav-menu {
  display: none;
  width: 100%;
  height: 100%;
  @include media(max-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
}
.menu-link {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: $color-white;
  display: inline-flex;
  padding: 24px 9px;

  &:hover,
  &:active {
    background-color: $color-hover-menu;
  }

  @include media(desktop) {
    font-size: 24px;
    padding: 21px 13px;
  }
}
.header-language-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;

  @include media(desktop) {
    gap: 12px;
  }
}
.header-language-ua,
.language-span,
.language-en {
  color: $color-white;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  padding: 4px;
  @include media(desktop) {
    font-size: 24px;
  }
}
.header-language-ua,
.language-en {
  &:hover,
  &:active {
    text-decoration: underline;
  }
}
.burger-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 55%;
  height: 100vh;
  background: $color-primary;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: all 500ms ease;
  z-index: 2;

  &.active {
    display: flex;
    transform: translateX(0);
  }
  @include media(max-tablet) {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
  }
  @include media(desktop) {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
  }
}
.burger-menu-close {
  background: none;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;

  svg {
    width: 24px;
    height: 24px;
    stroke: $color-white;
    transition: all 300ms ease;

    @include media(tablet) {
      width: 30px;
      height: 30px;
    }
  }

  &:hover svg,
  &:active svg {
    transform: scale(1.2);
  }
}
.burger-menu-list {
  list-style: none;
  padding: 50px 20px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 60%;
}
.burger-menu-link {
  position: relative;
  padding: 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: $color-white;
  white-space: nowrap;
  display: inline-flex;

  &:hover,
  &:active {
    &::after {
      width: calc(100% - 12px);
      background-color: $color-white;
    }
  }
}
.burger-menu-link::after {
  content: '';
  position: absolute;
  left: 7px;
  right: 8px;
  bottom: 1px;
  width: 0;
  height: 3px;
  background-color: $color-primary;
  transition: all 300ms ease;
}
