@use './common/index' as *;

/***************** Product card *******************/

.product-card-section {
  background-color: $color-white;
}
.product-card-container {
  padding: 30px 16px;
  @include media(tablet) {
    padding: 40px 50px;
  }
  @include media(max-tablet) {
    padding: 40px 30px;
  }
  @include media(desktop) {
    padding: 40px 30px;
  }
}
.product-card-wrapper {
  display: flex;
  flex-direction: column;
  @include media(max-tablet) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
.product-card-images {
  border: 1px solid $color-primary;
  border-radius: 8px;
  width: 343px;
  height: 283px;
  background-color: $color-white;
  @include media(mobile) {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  @include media(tablet) {
    width: 350px;
    height: 290px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  @include media(max-tablet) {
    width: 350px;
    height: 300px;
  }
  @include media(desktop) {
    width: 350px;
    height: 300px;
  }
}
.product-card-wrapper-inner {
  @include media(tablet) {
  }
  @include media(max-tablet) {
    display: flex;
    flex-direction: column;
    width: 61%;
  }
  @include media(desktop) {
    display: flex;
    flex-direction: column;
    width: 72%;
  }
}
.product-card-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 0.75;
  color: $color-primary;
  @include media(mobile) {
    margin-bottom: 30px;
  }
  @include media(tablet) {
    font-size: 36px;
    margin-bottom: 40px;
  }
  @include media(max-tablet) {
    font-size: 36px;
    margin-bottom: 20px;
  }
  @include media(desktop) {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.product-card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.29;
  color: $color-grey;
  margin-bottom: 30px;
  @include media(tablet) {
    font-size: 18px;
  }
  @include media(max-tablet) {
    font-size: 18px;
    margin-bottom: 16px;
  }
  @include media(desktop) {
    font-size: 20px;
    margin-bottom: 16px;
  }
}

/***************** Tegs *******************/
.product-card-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: $color-primary;
  margin-bottom: 20px;
  @include media(max-tablet) {
    margin-bottom: 16px;
  }
  @include media(desktop) {
    font-size: 22px;
    margin-bottom: 14px;
  }
}
.product-card-tags-list {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  @include media(tablet) {
  }
  @include media(max-tablet) {
    gap: 4px 20px;
  }
  @include media(desktop) {
    gap: 4px 20px;
  }
}
.tag-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $color-grey;
  display: flex;
  align-items: center;
  text-align: center;
  @include media(tablet) {
    font-size: 16px;
  }
  @include media(max-tablet) {
    font-size: 16px;
  }
  @include media(desktop) {
    font-size: 16px;
  }
}

/***************** S e a r c h *******************/
.product-card-search-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid $color-primary;
  border-radius: 6px;
  overflow: hidden;
  width: 343px;
  background-color: $color-white;
  margin: 20px auto;
}
.search-wrapper-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 34px;
  border-right: 1px solid $color-primary;
  background-color: $color-light-blue;
}
.search-svg {
  width: 20px;
  height: 20px;
  fill: $color-primary;
}
.product-card-search-input {
  flex: 1;
  border: none;
  padding: 5px;
  outline: none;
}
.product-card-search-button {
  background-color: $color-light-blue;

  width: 108px;
  height: 30px;
  border: none;
  border-left: 1px solid $color-primary;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

/***************** F i l t e r *******************/

.product-card-filter-wrapper {
  width: 250px;
  position: relative;
  padding: 16px 12px;
  margin-bottom: 20px;
  @include media(tablet) {
  }
  @include media(max-tablet) {
    margin-bottom: 0;
  }
  @include media(desktop) {
    margin-bottom: 0;
  }
}
.product-card-filter-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 6px;
  width: 108px;
  height: 30px;
  background-color: $color-light-blue;
  text-align: center;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}
.filter-menu-list {
  display: none;
  background-color: $color-white;
  border-top: 1px solid $color-soft-blue;
  margin-top: 10px;
}
.filter-menu-item {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid $color-soft-blue;
}
.filter-menu-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.filter-menu-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: $color-primary;
}
.filter-menu-svg {
  width: 19px;
  height: 19px;
  fill: $color-primary;
  transition: all 0.3s ease;
}
.filter-options-list {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.filter-options-item {
  margin: 5px 0;
}
.filter-options-label {
  cursor: pointer;
}
.filter-menu-item.filter-menu-item-open .filter-menu-svg {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}
.filter-menu-item.filter-menu-item-open .filter-options-list {
  display: block;
  max-height: 200px;
}
.filter-options-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.filter-options-input-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid $color-primary;
  border-radius: 4px;
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
  transition: all 0.3s ease;
}
.filter-options-input:checked + .filter-options-input-checkbox::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 10px;
  border: solid $color-white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -60%) rotate(45deg);
}
.filter-options-input:checked + .filter-options-input-checkbox {
  background-color: $color-primary;
}

/***************** T a b l e *******************/
table {
  width: 100%;
  border-collapse: collapse;
  @include media(tablet) {
  }
  @include media(max-tablet) {
    width: 942px;
    margin: 0 auto;
    font-size: 16px;
  }
  @include media(desktop) {
    width: 900px;
    font-size: 16px;
  }
}
tr {
  padding: 10px;
}
th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: $color-light-blue;
  color: $color-primary;
}

tr:nth-child(even) {
  background-color: $color-light-blue;
}

/***************** Service *******************/
.product-service-block-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  color: $color-primary;
  margin-top: 30px;
  @include media(tablet) {
    font-size: 18px;
  }
  @include media(max-tablet) {
    font-size: 24px;
  }
  @include media(desktop) {
    display: none;
    font-size: 24px;
    text-align: center;
  }
}
.product-service-block {
  margin-top: 30px;
  @include media(desktop) {
    margin: 0;
  }
}
.product-service-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  @include media(tablet) {
    gap: 20px;
    margin-bottom: 30px;
  }
  @include media(max-tablet) {
    gap: 30px;
    margin-bottom: 30px;
  }
  @include media(desktop) {
    gap: 30px;
    margin-bottom: 30px;
  }
}
.product-service-svg {
  width: 32px;
  height: 32px;
  fill: $color-primary;
  @include media(tablet) {
    width: 64px;
    height: 64px;
  }
  @include media(max-tablet) {
    width: 64px;
    height: 64px;
  }
  @include media(desktop) {
    width: 64px;
    height: 64px;
  }
}
.product-service-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 0.8;
  text-align: center;
  color: $color-primary;
  @include media(tablet) {
    font-size: 30px;
  }
  @include media(max-tablet) {
    font-size: 30px;
  }
  @include media(desktop) {
    font-size: 32px;
  }
}
.product-service-inner {
  border-radius: 10px;
  width: 342px;
  background-color: $color-form;
  display: flex;
  flex-direction: column;
  padding: 30px;
  @include media(mobile) {
    margin: 0 auto;
  }
  @include media(tablet) {
    width: 520px;
    margin: 0 auto;
    padding: 40px 60px;
  }
  @include media(max-tablet) {
    width: 560px;
    padding: 40px 52px;
    margin: 0 auto;
  }
  @include media(desktop) {
    width: 430px;
    padding: 40px 38px;
  }
}
.product-service-address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-service-subtitle,
.product-service-address-text,
.product-service-link {
  font-size: 14px;
  line-height: 1.4;
  color: $color-primary;
  @include media(tablet) {
    font-size: 18px;
    line-height: 1.33;
  }
  @include media(max-tablet) {
    font-size: 18px;
    line-height: 1.33;
  }
  @include media(desktop) {
    font-size: 18px;
    line-height: 1.33;
  }
}
.product-service-subtitle {
  font-weight: 700;
  text-align: center;
}
.product-service-address-text {
  font-weight: 700;
  font-style: normal;
}
.product-service-link {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.product-service-one {
  margin: 0 0 20px;
}
.product-card-wrap-tab-serv {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
  }
}
