@use './common/index' as *;

.product-card-title {
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.search-container {
  display: flex;
  align-items: center;
  border: 2px solid #1e73be;
  border-radius: 5px;
  overflow: hidden;
  width: 250px;
}

.search-icon {
  background-color: #e3f1fc;
  padding: 5px 10px;
  border-right: 2px solid #1e73be;
}

.search-icon img {
  width: 16px;
  height: 16px;
}

.search-input {
  flex: 1;
  border: none;
  padding: 5px;
  outline: none;
}

.search-button {
  background-color: #e3f1fc;
  border: none;
  padding: 5px 10px;
  color: #1e73be;
  font-weight: bold;
  cursor: pointer;
}

.search-button:hover {
  background-color: #d0e6fa;
}
